.site-footer {
  padding: 0;
  .block {
    margin: initial;
    border: initial;
  }
  .container-fluid {
    padding: 0;
    .region-footer-first {
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: $primary-light;
      margin: 0;
      padding: 0;
    }
    .region-footer-second {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
    .menu--footer {
      ul {
        justify-content: center;
        align-items: center;
        @include mq(md) {
          flex-direction: row;
        }
        .nav-item {
          margin: 0 20px;
        }
        li {
          a {
            letter-spacing: 1px;
            text-decoration: none;
            color: $black;
            text-decoration: underline;
            font-family: $bud;
            font-size: 11px;
            padding: 14px 20px;
          }
        }
      }
    }

    &__bottom {
      margin-top: 0;
    }
  }
}
.site-footer__top p {
  display: none;
}
