.header {
  background-color: $primary;
  .navbar-brand{
    margin-left: 10px;
  }
  .navbar {
    padding: 0;
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 17px;
          font-family: $bud;
          //font-family: $BudCrafted;
          color: $white;
          @include mq(md) {
            font-size: 21px;
            text-transform: uppercase;
          }
          &:hover,
          &.active {
          }
        }
        &:last-child {
          .nav-link {
          }
        }
      }
    }
  }
}


