/* %bg-img{
  background-image: url("../images/bg/bg-primary.jpg");
} */
%bg-img {
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
  @include mq(md) {
    background-size: contain;
  }
}
%bg-page-age {
  background-repeat: no-repeat;
  background-position: 44% 0%;
  background-size: 450%;
  @include mq(md) {
    background-size: 130%;
  }
  @include mq(lg) {
    background-position: initial;
    background-size: contain;
  }
}
%bg-age {
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
}
%bg-home {
  background-position: initial;
  background-size: cover;
}
%bg-page {
  background-position: initial;
  background-size: cover;
}
