body {
  &.page-thank {
    #page-wrapper {
      #page {
        #main-wrapper {
          #block-banneruser {
            position: relative;
            overflow: hidden;
            @include mq(md) {
              height: 300px;
            }
            @include mq(lg) {
              height: 300px;
            }
            @include mq(xlg) {
              height: 430px;
            }
            p {
              display: none;
            }
          }
        }
        #block-budweiser-theme-content {
          display: flex;
          align-content: center;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-image: initial;
          margin-top: -182px;
          height: 300px;
          margin: 0 auto;
          background-image: url("../images/bg/fondo-register.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position-y: 121px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            display: none;
            width: 100%;
            height: 50px;
            top: -50px;
            background: rgb(0, 0, 0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
            @include mq(md) {
              display: block;
            }
          }
          @include mq(md) {
            display: block;
            height: 300px;
          }
          h2 {
            display: none;
          }
          h3 {
            @include textCommun(19px);
            text-align: center;
            letter-spacing: 4px;
            margin: 0 auto 22px;
            @include mq(md) {
              max-width: 750px;
              font-size: 35px;
            }
          }
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
