.page-404 {
  #page-wrapper {
    #page {
      background: transparent;
      #main-wrapper {
        .field--name-body {
          min-height: 600px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          align-content: center;
          img {
            max-width: 100%;
          }
          p.text-primary-404 {
            @include textCommun(25px);
            text-align: center;
            line-height: 1;
            max-width: 739px;
            margin: 55px auto;
            @include mq(md) {
              font-size: 35px;
            }
          }
        }
      }
    }
  }
}
