.path-agegate {
  header,
  .breadcrumb {
    display: none;
  }
  #page-wrapper {
    #page {
      #main-wrapper {
        background-image: url("../images/banners/1_REGISTRO.jpg");
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        section {
          max-width: 870px;
          margin: 0 auto;
          .block-page-title-block {
            display: none;
          }
          .agegate-form {
            padding: 0 0 rem(1px) 0;
            margin: 22% auto 2rem;
            @include mq(md) {
              margin: 23rem auto 2rem;
            }
            .block-title {
              display: flex;
              justify-content: center;
              padding: 5px 10px;
              @include mq(md) {
                padding: 5px 40px;
              }
              h2 {
                letter-spacing: 1px;
                line-height: 1;
                padding-top: 3px;
                text-align: center;
                text-transform: uppercase;
                font-size: 15px;
                @include mq(md) {
                  font-size: 37px;
                }
              }
            }
            #edit-row-1 {
              p {
                text-align: center;
                margin: 17px auto 0;
                @include textCommun(12px);
                letter-spacing: 1px;
                @include mq(md) {
                  font-size: 17px;
                }
              }
            }
            .form-group {
              .js-form-wrapper {
                display: flex;
                justify-content: center;
                margin: 20px 0;
                .js-form-item {
                  margin: 0 1px;
                  min-width: 70px;
                  padding: 0 7px;
                  position: relative;
                  @include mq(md) {
                    min-width: 91px;
                  }
                  .form-type-number {
                    max-width: 83px;
                  }
                  label.error {
                    font-size: 10px;
                    margin-bottom: 0;
                    position: absolute;
                    left: 0;
                    text-align: center;
                    width: 100%;
                    line-height: 1;
                    color: $white;
                  }
                  input {
                    border-radius: 0;
                    text-align: center;
                    height: 91px;
                    @include textCommun(80px);
                    color: $white;
                    padding: 0;
                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus {
                      -webkit-text-fill-color: $white;
                    }
                    &::placeholder {
                      color: $text-gray !important;
                      @include textCommun(30px);
                      @include mq(md) {
                        @include textCommun(60px);
                      }
                    }
                  }
                }
              }
            }
            .block-labels {
              display: none;
            }
            .block-btn {
              display: none;
            }
            .js-form-wrapper {
              .js-form-type-checkbox {
                display: flex;
                justify-content: center;
                padding: 3px 0 !important;
                label {
                  color: $text-gray;
                  font-size: $font-small;
                  padding-left: 0;
                  letter-spacing: 1px;
                  text-transform: initial;
                }
              }
              .recordar-datos {
                display: none;
              }
            }
            #edit-row-3 {
              flex-direction: column;
              justify-content: center;
              align-items: center;
              p {
                color: $text-gray;
                font-size: 10px;
                text-transform: initial;
                max-width: 90%;
                @include mq(md) {
                  font-size: 12px;
                  max-width: 61%;
                }
                a {
                  color: $primary;
                }
              }
              #edit-submit {
                color: $white;
                max-width: 140px;
                margin: 30px 0 0;
              }
            }
            #edit-row-4 {
              background-image: url("../images/bg/beer-oficial.png");
              background-size: contain;
              background-repeat: no-repeat;
              height: 92px;
              margin: 30px auto 0;
              width: 116px;
            }
          }
          .facebook_wrapper {
            display: none;
          }
          ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $primary;
            opacity: 1; /* Firefox */
            font-size: $font-base;
          }

          :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $primary;
          }

          ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $primary;
          }
          .btn-primary:not(:disabled):not(.disabled):active {
            background-color: $secundary;
            border: initial;
            color: $primary;
            letter-spacing: 1px;
          }
          .btn:not(:disabled):not(.disabled) {
            cursor: pointer;
            border: 0;
            color: $secundary;
            letter-spacing: 1px;
          }
        }
      }
      .featured-bottom {
        background-color: $green;
        padding: 20px 5px;
        @include mq(lg) {
          padding: 20px 5px 0px;
        }
        .field--name-body {
          p {
            color: $text-age;
            font-size: 8px;
            text-align: center;
            padding: 0 20px;
            margin-bottom: 10px;
            @include mq(md) {
              padding: 0 80px;
            }
            &:nth-child(4) {
              margin-top: 40px;
              border-top: 1px $primary solid;
              padding-top: 37px !important;
              @include mq(lg) {
                border-top: initial;
                margin-left: 6%;
                margin-top: 0;
                padding-top: 10px !important;
              }
            }
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
              padding: 10px 20px;
              margin-bottom: initial;
              color: $secundary;
              font-size: 11px;
              @include mq(lg) {
                display: inline-block;
                width: 31%;
              }
            }
          }
        }
      }
    }
  }
}

#agegate-form {
  .facebook_wrapper {
    display: none !important;
  }
}
