//--  Fonts --//
$cerapro-bold: "CeraPro-Bold";

$gilroy-bold: "Gilroy-Bold";
$gilroy-heavy: "Gilroy-Heavy";
$gilroy-light: "Gilroy-Light";
$gilroy-medium: "Gilroy-Medium";
$gilroy-black: "Gilroy-Black";
$gilroy-regular: "Gilroy-Regular";

$helvetica: "Helvetica";
$helvetica-light: "Helvetica-Light";
$helvetica-bold: "Helvetica-Bold";

$knockout-regular: "Knockout-Regular";

$bud: "Bud";

// -- Colors -- //
$primary: #b1142f;
$primary-light: #b11430;
$text-gray: #5e5e5e;

$secundary: #fcff00;
$secundary-light: #e9fd01;
$white: #FFFFFF;
$black: #000000;
$green: #05572a;
$green-opacity: #46ff9799;
$green-light: #00a645;
$green-dark: #045026;
$gree-light-tittle: #5fee32;

$bg-block: #5ae133;
$bg-modal: #38b428;

$font-small: 14px;
$font-base: 16px;
$font-title: 25px;
$font-text-block: 20px;
$font-title-mobile: 19px;
$font-block-p: #006613;

$text-age: #e9fe01;
$text-block-title: #065b2d;

$border-radio-base: 10px;
$area: 960px;